.wrapper {
  min-height: 100vh;
  width: 100vw; /* Forzamos el ancho de la pantalla */
  display: flex;
  flex-direction: column;
  background-color: #031728;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll horizontal raro */
}


.navbar {
  height: 64px; /* 🔥 clave */
  min-height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  background-color: #051e34;
  padding: 0 3rem;
}
.logoArea {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--text-main);
}

.navLinks {
  display: flex;
  gap: 0.5rem;

}

.link {
  background: transparent;
  border: none;
  color: rgba(56, 189, 248, 0.7);

  display: flex;
  align-items: center;
  gap: 0.6rem;

  font-size: 0.95rem;
  font-weight: 500;

  cursor: pointer;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;

  transition: all 0.2s ease;
}


.link, .activeLink {
  background: none;
  border: none;
  color: #38bdf8;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem 3rem;
  border-radius: 8px;
  letter-spacing: 0.3px;
  --color-icon: #021D37;
}

.activeLink {
  background-color: #38bdf8;
  color: #021D37;

  border-radius: 8px;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: rgba(56, 189, 248, 0.08);
  color: #38bdf8;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--text-muted);
}

.statusBadge {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  background-color: rgba(34, 197, 94, 0.1);
  color: #22c55e;

  padding: 0.3rem 0.75rem;
  border-radius: 20px;
  font-size: 0.75rem;

  border: 1px solid rgba(34, 197, 94, 0.5); /* 🔥 clave */
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.4rem 0.9rem; /* 🔥 aire interno */
  border-radius: 15px; /* 🔥 píldora moderna */

  border: 1px solid rgba(56, 189, 248, 0.5);

  background-color: rgba(56, 189, 248, 0.05); /* 🔥 leve fondo */
  
  transition: all 0.2s ease;
}

.avatar {
  width: 38px;
  height: 38px;
  background-color: var(--accent-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-cyan);
}

.content {
  flex: 1;
  width: 100%;
  max-width: 1800px; /* Evita que en monitores gigantes se desparrame */
  margin: 0 auto; /* ESTO CENTRA EL CUERPO */
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
