@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-family: 'Montserrat', sans-serif; /* Montserrat resembles the design more */
  --transition-speed: 0.2s;
  --border-radius-md: 6px;
  --border-radius-lg: 12px;
  /*--color-icon: #38bdf8;*/
  
  /* Dark Mode */
  --bg-main: linear-gradient(180deg, #072740 0%, #010a12 100%);
  --bg-card: #082842;
  --border-card: #3a617c;
  --border-input: #3a617c;
  --text-primary: #ffffff;
  --text-secondary: #cce5ff;
  --color-primary: #2095d4;
  --color-primary-hover: #197bb0;
  --color-link: #2095d4;
  --error-color: #ef4444;
  --color-icon-notifict: #82D4FF;
  --color-theme: #82D4FF;
  --color-icon3:  rgba(255, 255, 255, 0.8);
  --boton-detail-color: #5cbce979;
  --color-input: transparent;
  --color-input-background: rgba(22, 41, 83, 0.24);
  --button-download: rgba(99, 186, 207, 0.9);
  --border-button-dowload: rgba(99, 186, 207, 0.4);
  --background-color-detail: #082842;

  /*Navar*/
  --barckground-color-nav: none;
  --boder-color-nav: #4A90A4;

  /*Indicadores*/
  --background-color-icon: linear-gradient(180deg, #3DD6E5 0%, #22777F 100%);
  --color-icon: #082842; 
  --background-color-card: none ;
  --color-title: #ffff;
  --color-title2: #ffff;
  --color-subtitle: #4A90A4;
  --color-subtitle3: #0ea5e9;
  --color-count: #82D4FF;
  --color-link: #82D4FF;
  --color-link1: #82D4FF;

  /*filter*/
  --color-text-filter:#38bdf8;
  --color-input-liter:#f8fafc6c;
  --sidebar-footer: #082842;
  --color-text-filter2:#38bff891;
  --color-button-clear: #38bdf8;
  --color-button-clear2: #ffffff;

}

[data-theme='light'] {
  /* Light Mode */
  --bg-main: #f0f6fa;
  --bg-card: linear-gradient(180deg, #bce8ff 0%, #ffffff 50%);
  --border-card: #bce8ff;
  --border-input: #a1d6f5;
  --text-primary: #031728;
  --text-secondary: #082842;
  --color-primary: #2095d4;
  --color-primary-hover: #197bb0;
  --error-color: #dc2626;
  --color-icon-notifict: #4A90A4;
  --color-theme: #082842;
  --color-icon3:  rgba(0, 0, 0, 0.5);
  --color-input: #ffff;
  --color-input-background:  rgba(175, 194, 238, 0.6);
  --button-download: #082842;
  --border-button-dowload: #436a88;
  --background-color-detail: #ffff;
 


  /*Navar*/
  --barckground-color-nav: #ffff;
  --boder-color-nav: #4A90A4;

  /*Indicadores y card de boton*/
  --background-color-icon: linear-gradient(180deg, #3DD6E5 0%, #22777F 100%);
  --color-icon: #ffff;
  --background-color-card: #ffff;
  --color-title: #4A90A4;
  --color-title2: #0a0a0a;
  --color-subtitle: #4A90A4;
  --color-subtitle3: #336775;
  --color-count: #4A90A4;
  --color-link: #82D4FF;
  --color-link1: #4A90A4;

  /*filters*/
  --color-text-filter:#082842;
  --color-input-liter:#0000006c;
  --sidebar-footer: #b0e4ff;
  --color-text-filter2:#08284285;
  --color-button-clear: #082842;
  --color-button-clear2: #00000098;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#root {
  display: flex;
  flex: 1;
  width: 100%;
}
