.addButton {
  background: transparent;
  border: 1px solid #0ea5e9;
  border-radius: 15px;
  padding: 6px 20px;
  color: #0ea5e9;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s;
  
}

.addButton:hover {
  background: rgba(14, 165, 233, 0.1);
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
}

.activeFiltersContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.filterChip {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: 1px solid rgba(14, 165, 233, 0.4);
  border-radius: 16px;
  padding: 4px 12px;
  font-size: 0.8rem;
  color: var(--color-text-filter2);
}

.filterChip span {
  color: #38bdf8;
  font-weight: 500;
}

.chipRemoveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #94a3b8;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
}

.chipRemoveBtn:hover {
  color: #ef4444;
  background-color: rgba(239, 68, 68, 0.1);
}

.clearFiltersBtn {
  background: none;
  border: none;
  color: var(--color-button-clear2);
  font-size: 0.85rem;
  cursor: pointer;
  padding: 4px 8px;
  margin-left: 8px;
}

.clearFiltersBtn:hover {
  color: var(--color-button-clear);
}

.filterDropdown {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #3a617c;
  border-radius: 6px;
  padding: 8px 16px;
  min-width: 150px;
  cursor: pointer;
  transition: all 0.2s;
}

.filterDropdown:hover {
  background: rgba(14, 165, 233, 0.1);
}

.filterIcon {
  color: #9EB0C7;
  margin-right: 8px;
}

.mainLayout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  position: relative;
}

.gridContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.usersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1280px) {
  .usersGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .mainLayout {
    flex-direction: column-reverse;
  }
  .usersGrid {
    grid-template-columns: 1fr;
  }
  
  .filtersContainer {
    flex-direction: column;
    gap: 12px;
  }
  
  .filterDropdown {
    width: 100%;
    justify-content: center;
  }
}

.userCard {
  background: var(--background-color-card); 
  border: 1.5px solid rgba(14, 165, 233, 0.5);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(14, 165, 233, 0.15);
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.avatarContainer {
  position: relative;
  height: 88px;
}

.avatar {
  width: 95px;
  height: 95px;
  border-radius: 50px;
  border: solid #0ea5e9;
  object-fit: cover;
}

.statusBadge {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0ea5e9;
}

.statusOnline {
  background-color: #10b981;
  color: white;
}

.statusOffline {
  background-color: #ef4444;
  color: white;
}

.userInfo {
  flex: 1;
  margin-left: 15px;
}

.userName {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-title2);
  margin-bottom: 0px;
}

.userRole {
  font-size: 0.9rem;
  color: var(--color-subtitle3);
  margin-bottom: 8px;
}

.userDetail {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  color: var(--color-icon3);
  margin-bottom: 6px;
}

.detailIcon {
  color:var(--color-icon3);
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(14, 165, 233, 0.5);
}

.skillBadge {
  border: 1px solid rgba(14, 165, 233, 0.5);
  border-radius: 16px;
  padding: 2px 12px;
  font-size: 0.75rem;
  color: var(--text-primary);
  background: transparent;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

}

.viewDetailBtn {
  background: #0ea5e9;
  color: #0f172a;
  border: none;
  border-radius: 16px;
  padding: 6px 16px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.viewDetailBtn:hover {
  background: #3fbaf3a4;
}

.editBtn, .deleteBtn {
  background: transparent;
  border: 1px solid #0ea5e9;
  border-radius: 20px;
  width: 60px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0ea5e9;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn {
  border-color: #ef4444;
  color: #ef4444;
}

.editBtn:hover {
  border-color: #38bdf8;
  color: #38bdf8;
}

.deleteBtn:hover {
  background: rgba(239, 68, 68, 0.1);
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.loadMoreBtn {
  background: transparent;
  border: 1px solid #0ea5e9;
  border-radius: 20px;
  padding: 10px 32px;
  color: #0ea5e9;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.loadMoreBtn:hover {
  background: rgba(14, 165, 233, 0.1);
}

.loadMoreBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
